/*arquivo estilo.css*/
body{
    margin:0;
    padding:0;
    font-family:Adobe Heiti Std R;
    background-color:black ;
}
#container{
    width:100%;
    border: 1px solid yellow;
    margin:auto;
}
.col-12{
    width:100%;
    text-align: center;
}
.col-4{
    width:25%;
    height:320px;
    float:left;	 
}
.banner{
    width:550px;
    margin: auto;
}
.logo{
    font-family:Montserrat,sans-serif;
    font-size:80px;
    color:#FFFFFF;
    text-align:center; 
    margin-top: -20px;
}
.slogan{
    font-family:Montserrat,sans-serif;
    font-size:30px;
    color:#FFFFFF;
    text-align:center; 
}
.menu {
    list-style-type:none;
    width: 100%;
    margin-top:75px;
    padding:0;
    overflow:hidden;
    background-color:#FFFFFF;
}
.menu li {
    display: inline-block;
}
.menu li a {
    font-family:Montserrat,sans-serif;
    display:block;
    color:#fff;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:25px;
}
.menu li a:hover {
    padding:1em;
}
.rodape{
    width:100%;
    clear:both;
    background-color:#000000;
    color:#FFFFFF;
    text-align:center;
    font-size:12px;
    font-style:italic;
    font-weight:bold;
    height:20px;
}
div.galeria {
    border: 1px solid #FFF;          
    float: left;
    text-align: center;
}
div.galeria img {
    width: 200px;
    height: 180px;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:white;
}
.responsive {
    padding: 6px;
    width: 100%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    clear:left;
}
.imgs {
    width:50%;
}

.img_logo{
    text-align:center;
    width:100%
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.container2 {
    position: relative;
    width: 50%;
}
